.ruff_cache
__pycache__/
*.py[cod]
*$py.class
.requirements_hash
*.so
build/
dist/
*.egg-info/
*.egg
LICENSE.out
coverage.xml
htmlcov/
.tox/
.pytest_cache/
profile_default/
.ipynb_checkpoints/
api_token.txt
config-*.json
config.json
sessions
feroku/api_token.py
LoadedModules
loaded_modules
feroku/LoadedModules
feroku/loaded_modules
feroku/debug_modules
feroku*.session*
*.swp
.setup_complete
.idea/
.vscode/
config.ini
*cache*.json
*.png
!Storage/*.png
*.webp
*.webm
*.tgs
*.mp4
*.mp3
*.ogg
*.m4a
*.avi
*.log
*.out
*.session
*.session-journal
unknown_errors.txt
.modules_cache/
feroku.log.*
venv/
venv/
Modules/
